[submodule "libraf"]
	path = libraf
	url = ../libraf
[submodule "vardb"]
	path = vardb
	url = ../aircraft_vardb
[submodule "nc_utils"]
	path = nc_utils
	url = ../aircraft_nc_utils
[submodule "ncplot"]
	path = ncplot
	url = ../ncplot
[submodule "ncpp"]
	path = ncpp
	url = ../ncpp
[submodule "oap"]
	path = oap
	url = ../aircraft_oap
[submodule "caledit"]
	path = caledit
	url = ../aircraft_caledit
[submodule "aeros"]
	path = aeros
	url = ../aeros
[submodule "nimbus"]
	path = nimbus
	url = ../nimbus
[submodule "configedit"]
	path = configedit
	url = ../aircraft_config_edit
[submodule "kml_tools"]
	path = kml_tools
	url = https://github.com/ncar/kml_tools
