[submodule "libraf"]
	path = libraf
	url = https://github.com/ncar/libraf
[submodule "vardb"]
	path = vardb
	url = https://github.com/ncar/aircraft_vardb
[submodule "nc_utils"]
	path = nc_utils
	url = https://github.com/ncar/aircraft_nc_utils
[submodule "ncplot"]
	path = ncplot
	url = https://github.com/ncar/ncplot
[submodule "ncpp"]
	path = ncpp
	url = https://github.com/ncar/ncpp
[submodule "oap"]
	path = oap
	url = https://github.com/ncar/aircraft_oap
[submodule "caledit"]
	path = caledit
	url = https://github.com/ncar/aircraft_caledit
